/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 15px 30px;
  color: #333;
  position: relative;
}

/* Logo styling */
.logo img {
  width: 120px;
}

/* Navbar links container */
.nav-links {
  display: flex;
  margin-right: 35%;
}

.nav-links li {
  margin: 0 15px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 800;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #3498db;
}

/* Hamburger icon (only visible on mobile) */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  /* Navbar container styling for mobile */
  .navbar {
    padding: 10px 15px;
  }

  /* Hide the nav links by default on mobile */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    /* background-color: #333; */
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
    z-index: 999;
   
  }

  /* Show the nav links when the active class is added */
  .nav-links.active {
    display: block;
  }

  /* Display the hamburger icon on mobile */
  .hamburger {
    display: block;

  }

  /* Styling for nav items on mobile */
  .nav-links li {
    margin: 15px 0;
    color: #333;
  }

  .nav-links a {
    font-size: 22px;
    color: #333;
  }
}

/* Navbar links container for desktop */
@media (min-width: 768px) {
  .nav-links {
    display: flex !important;
  }

  .hamburger {
    display: none;
  }
}
